*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-image: url(./images/istockphoto-517188688-612x612.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    width: 95%;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 15px;
}
nav a{
    margin-right: 8px;
    font-weight: 400;
    font-size: 18px;
    color: white;
}
nav a:hover{
    text-decoration: underline;
}
nav i{
    margin-left: 15px;
}
section{
    margin-top: 15%;
}
h1{
    text-align: center;
    font-weight: 500;
    font-size: 100px;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 20px;
}
.box{
    display: flex;
    justify-content: center;
    width: 40%;
    border: 1px solid black;
    margin: auto;
    height: 40px;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: wheat;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box input{
    width: 90%;
    height: 40px;
    background-color: wheat;
    border: none;
    outline: none;
    color: black;
    font-size: 16px;
}
.box i{
    color: rgb(56, 55, 55);
}
main{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: auto;
    margin-top: 4%;

}

main a{

    width: 25%;
    height: 35%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;


}
main a:hover{

    background-color: rgb(137, 134, 134);

}
.box1{
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.you{
    color: red;
}
.teg{
    color: rgb(59, 119, 239);
}
.ins{
    color: rgb(232, 98, 14);
}
.fac{
    color: blue;
}
.box2 p{
    font-weight: 400;
    font-size: 16px;
    color: white;
}
.box2 p:hover{
    text-decoration: underline;
}
@media screen and (max-width:1151px) {
    main{
        width: 50%;
    }
}
@media screen and (max-width:690px) {
    main{
        width: 50%;
    }
    .box2 p{
        font-size: 15px;
    }
}
@media screen and (max-width:625px) {
    main{
        width: 50%;
    }
    .box2 p{
        font-size: 15px;
    }
}
@media screen and (max-width:582px) {
    main{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }

}
@media screen and (max-width:550px) {
    main{
        width: 80%;
    }

}
@media screen and (max-width:376px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}