*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-image: url(./images/istockphoto-517188688-612x612.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    width: 95%;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 15px;
}
nav a{
    margin-right: 8px;
    font-weight: 400;
    font-size: 18px;
    color: white;
}
nav a:hover{
    text-decoration: underline;
}
nav i{
    margin-left: 15px;
}
section{
    margin-top: 15%;
}
h1{
    text-align: center;
    font-weight: 500;
    font-size: 100px;
    letter-spacing: 2px;
    color: white;
}
.box{
    display: flex;
    justify-content: center;
    width: 40%;
    border: 1px solid black;
    margin: auto;
    height: 40px;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: wheat;
    border: none;
}
.box input{
    width: 90%;
    height: 40px;
    background-color: wheat;
    border: none;
    outline: none;
    color: black;
    font-size: 16px;
}
.box i{
    color: rgb(56, 55, 55);
}